$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$white-accent-color: #ffffff;
$logo-color: #000000;
$darkest-background-color: rgba(47, 48, 58, 0.8);
$footer-backgroung: #2f303a;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$middle-dark-backgroud-color: #f5f4fa;
